<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- Head stores information about the web page -->
    <title>Learning HTML</title>
    <link rel="stylesheet" href="../assets/css/buttons.css" />
    <link rel="stylesheet" href="../assets/css/buttons.css" />
    <link rel="stylesheet" href="../assets/css/framework.css" />
  </head>
  <body class="top-padding-20">
    <div>
      <button class="btn btn-default">Default</button>
    </div>
    <div>
      <button class="btn btn-large">Large Button</button>
    </div>
    <div>
      <button class="btn btn-secondary">Large Button Secondary</button>
    </div>
    <div>
      <button class="btn btn-large warning">Large Button Warning</button>
    </div>
    <div></div>
      <button class="btn btn-large success">Large Button Success</button>
    </div>
    <div>
      <button class="btn btn-vlarge">Very Large Button</button>
    </div>
    <div>
      <button class="btn btn-vlarge warning">Very Large Warning Button</button>
    </div>
  </body>
</html>
