<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- Head stores information about the web page -->
    <title>Learning HTML</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link rel="stylesheet" href="../assets/css/buttons.css" />
    <link rel="stylesheet" href="../assets/css/framework.css" />
    <link rel="stylesheet" href="../assets/css/forms.css" />
  </head>
  <body class="top-padding-20">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Your name" required />
    </div>
    <div class="form-group">
      <label for="textarea">Textarea:</label>
      <textarea placeholder="Your message" required></textarea>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="" id="name" placeholder="Your name" required />
    </div>
    <div class="form-group">
      <label for="checkbox">
        <input
          type="checkbox"
          id="checkbox"
          required
          class="checkbox"
          name="checkbox"
        />
        Checkbox</label
      >
    </div>

    <div class="form-group">
      <label for="checkbox">
        <input
          type="checkbox"
          id="checkbox"
          required
          class="checkbox"
          name="checkbox"
          checked
        />
        Checkbox</label
      >
    </div>
    <button class="btn btn-secondary">Large Button Secondary</button>
  </body>
</html>
