button:hover {
    background-color: #F8F9FA;
    color: #212529;
}

.btn {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}

.btn-default {
    background-color: #023047;
    padding: 10px 20px;
    font-size: 15px;
    color: #E9ECEF;
    
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-large {
    background-color: #023047;
    padding: 15px 30px;
    font-size: 15px;
    color: #E9ECEF;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-secondary {
    background-color: #606c38;
    padding: 15px 30px;
    font-size: 15px;
    color: #E9ECEF;
    margin: 10px 20px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    width: 100%;
}

.btn-warning {
    background-color: #b90504;
    padding: 15px 30px;
    font-size: 15px;
    color: #E9ECEF;
    margin: 10px 20px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-vlarge {
    background-color: #023047;
    padding: 20px 45px;
    font-size: 15px;
    color: #E9ECEF;
    margin: 10px 20px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.warning {
    background-color: #b90504;
}

.success {
    background-color: #ffc300;
    color: #343A40;
    font-weight: bold;
}