@import url(rootColor.css);
@import url(padding.css);

@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--mintWhite);
        color: var(--darkBlack);
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li {
        padding: var(--pd-1);
        list-style-type: none;
    }

    nav a {
        color: var(--darkBlack);
        text-decoration: none;
        font-size: 16px;
    }



    nav a.active {
        background-color: var(--darkBlack);
        color: var(--mintWhite);
        padding: 10px;
        border-radius: 4px;
    }

    .logo {
        width: 50px;
        height: 50px;
        background-color: var(--darkBlack);
    }

    nav.mobile,
    .off-screen-menu {
        display: none;
    }
    
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

        nav.mobile {
            padding: 1rem;
            display: flex;
            background-color: var(--darkBlack);
        }

        .logo-mobile {
            width: 40px;
            height: 40px;
            background-color: var(--mintWhite);
        }
    
        .off-screen-menu {
            background-color: var(--darkBlack);
            color: var(--mintWhite);
            height: 100vh;
            width: 100%;
            max-width: 450px;
            position: fixed;
            top: 0;
            right: -450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 3rem;
            transition: .3s ease;
        }
    
        .off-screen-menu ul li {
            list-style-type: none;
        }
    
        .off-screen-menu.active {
            right: 0;
        }
    
    
    
        .ham-menu {
            height: 50px;
            width: 50px;
            margin-left: auto;
            position: relative;
        }
    
        .ham-menu span {
            height: 5px;
            width: 100%;
            background-color: var(--mintWhite);
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }
    
        .ham-menu span:nth-child(1) {
            top: 25%;
        }
    
        .ham-menu span:nth-child(3) {
            top: 75%;
        }
    
        .ham-menu.active span:nth-child(1) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    
        .ham-menu.active span:nth-child(2) {
            opacity: 0;
        }
    
        .ham-menu.active span:nth-child(3) {
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
}