:root {
    --mintWhite: #F8F9FA;
    --darkBlack: #212529;
    --darkgrey: #343A40;
    --dark: #1E1E1E;
    --lightgrey: #343A40;
    --black: #000000;
    --lightBlue: #BDE0FE;  
    --white: #FFFFFF; 

}